/* Estilos gerais */
body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #c6cedd;
}

.container {
    width: 100%;
    margin: 0 auto;
}

/* Estilos do header */
header {
    background-color: #34495e;
    color: #ecf0f1;
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

header h2 {
    margin: 0;
    color: #ecf0f1;
}

.date-inputs {
    display: flex;
    align-items: center;
}

.date-inputs label {
    margin-right: 10px;
    color: #ecf0f1;
}

.date-inputs input {
    margin-right: 10px;
    padding: 5px;
    font-size: 14px;
}

header button {
    background-color: #2980b9;
    color: #ecf0f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
}

header button:hover {
    background-color: #3498db;
}

/* Estilos do painel lateral */
.sidebar {
    width: 250px;
    background-color: #f7f5fa;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    padding-top: 120px;
    border-right: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.user-info {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}

.user-info img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

.sidebar ul li:last-child {
    border-bottom: none;
}

.sidebar ul li a {
    color: #050404;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

/* Estilos do conteúdo principal */
main {
    margin-left: 250px;
    padding: 20px;
}

main h2 {
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

thead {
    background-color: #2980b9;
    color: #ecf0f1;
}

tbody tr:nth-child(odd) {
    background-color: #ecf0f1;
}

tbody tr:nth-child(even) {
    background-color: #bdc3c7;
}

.login-container {
    text-align: center;
}

.login-box {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
    padding: 40px;
    width: 350px;
    margin: 20px auto;
    border: 2px solid #444; /* Borda mais escura e estilizada */
}

.avatar {
    margin-bottom: 20px;
}

.textbox {
    margin-bottom: 20px;
}

.textbox input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.textbox input:focus {
    border-color: #46109c;
    box-shadow: 0 0 5px rgba(70, 16, 156, 0.5);
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
}

.options label {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.options input {
    margin-right: 5px;
}

.options a {
    color: #4a11a5;
    text-decoration: none;
    font-size: 14px;
}

.options a:hover {
    text-decoration: underline;
}

.signup-link {
    margin-top: 20px;
    font-size: 14px;
}

.signup-link a {
    color: #6a1b9a;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}

    