.calendar {
    width: 100%;
    max-width: 900px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.calendar header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.calendar header h2 {
    margin: 0;
}
.calendar header .nav {
    display: flex;
    gap: 10px;
}

.calendar header .nav button {
    padding: 5px 10px;
    border: none;
    background-color: #2a2f5b;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.calendar header .nav button:hover {
    background-color: #8800ff;
}

.calendar footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar footer h2 {
    margin: 0;
}
.calendar footer .nav {
    display: flex;
    gap: 10px;
}
.calendar footer .nav button {
    padding: 5px 10px; 
    margin-top: 20px; 
    border: none;
    background-color: #2a2f5b;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.calendar footer .nav button:hover {
    background-color: #8800ff;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.calendar table th,
.calendar table td {
    width: 14.28%;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}
.calendar table th {
    background-color: #2a2f5b;
    color: #fff;
}
.calendar table td {
    cursor: pointer;
}
.calendar table td.selected {
    background-color: #8800ff;
    color: #fff;
}
.calendar table td.selected:hover {
    background-color: #f1f1f1;
    color: #000;
}
.calendar table td:hover {
    background-color: #f1f1f1;
}